# Editor files
.vscode
.DS_Store
*/*.DS_Store

# Firebase files
**/firebase-debug.log
**/firebase-debug.*.log
**/ui-debug.log
**/ui-debug.*.log
**/*-debug.log
**/*-debug.*/log

# Compiled JavaScript files
**/lib/**/*.js
**/lib/**/*.js.map

# TypeScript v1 declaration files
**/typings/

# Node files
**/node_modules/

# Test coverage
**/coverage/